body{
	background-color: rgb(59, 59, 59);
	font-family: 'Oswald', sans-serif;
}

h1{font-size: 60px;
text-align: center;
margin:  0;}

#title{
	width: 100%;
	height: 80px;
	background-color: rgb(228, 228, 228);
	border: 4px solid rgb(88, 0, 0);
	padding-bottom: 20px;
	margin: 0 auto;
}

#whowins{
	font-size: 30px;
	color: white;
	text-align: center;
}

#result{
	display: flex;
	width: 20%;
	margin: auto;
	margin-top: 50px;
	font-size: 40px;
	color: white;
}

#scoreboard{
	width: 30%;
	margin: auto;
	border: 4px solid rgb(88, 0, 0);
	text-align: center;}

img{
	width: 25%;
	height: 100%;
	cursor: pointer;
}

#choose{
	margin: auto;
	width: 30%;
	display: flex;
	justify-content: space-between;
	height: 170px;
}