*{font-family: 'Oswald', sans-serif;}

body{background-color: rgb(109, 89, 89);}

h1{text-align: center;
font-size: 40px;
border: 2px solid rgb(100, 41, 41);
background-color: rgb(212, 192, 192);
margin-top: 0px;
}

#whowins{text-align: center;
font-size: 30px;}

#result{
	margin: auto;
	font-size: 50px;
	display: flex;
	justify-content: space-between;
	width: 20%;
}

#scoreboard{
	border: 4px solid brown;
	width: 90px;
	text-align: center;
}

#choose{
	text-align: center;}

img{
	width: 10%;
	height: auto;
}